* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'KoHo', sans-serif;
}

:root {
    --color1: #3c3744;
    --color2: #3b3c47;
    --color3: #4d5061;
    --color4: #171219;
    --color5: #c1c1c1;
    --color6: #6600a8;
    --color7: #8fa800;
}

body {
    background: var(--color3);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    position: relative;
    min-height: 100vh;
}

.title-background {
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%;
}

.main-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(45deg, var(--color6), var(--color7));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 10px #6500a882;
}

.title-background > a {
    margin-left: 15px;
}

.devClub-img {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    position: relative;
    top: 3px;
    animation: 4s glitch linear 1s infinite;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
}

label {
    font-weight: 400;
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 6px;
}

label > span {
    font-weight: 500;
}

.custom-select {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 48px;
    background: var(--color2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 2px solid var(--color2);
}

.custom-select::after {
    content: '';
    background: var(--color2);
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    cursor: pointer;
}

.custom-select > i {
    position: absolute;
    top: 14px;
    right: 10px;
    color: var(--color5);
    font-size: 18px;
    pointer-events: none;
    z-index: 1;
    transition: all ease-in-out 0.3s;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-size: 18px;
    background: var(--color3);
    color: var(--color5);
    width: 100%;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}

.custom-select:hover i {
    color: #8fa800;
}

#user-value {
    border: 2px solid var(--color2);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    height: 48px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    font-size: 16px;
    background: var(--color3);
    color: var(--color5);
    transition: all ease-in-out 0.5s;
}

/* hide input arrows Chrome, Safari, Edge, Opera */
#user-value::-webkit-outer-spin-button,
#user-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide input arrows Firefox */
#user-value[type='number'] {
    -moz-appearance: textfield;
}

.convert-button {
    margin: 30px auto 50px auto;
    width: 80%;
    max-width: 230px;
    height: 48px;
    background: transparent;
    cursor: pointer;
    border: 2px solid var(--color3);
    background: var(--color4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    color: var(--color5);
    font-size: 17.4px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.convert-button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.convert-button > span::after {
    content: '»';
    padding-left: 8px;
    transition: 0.5s;
}

.convert-button:active {
    opacity: 0.9;
    transition: 0.1s ease-in-out;
    transform: translateY(1px);
}

.result {
    border: 1px solid var(--color4);
    background: var(--color4);
    width: 70%;
    padding: 10px 0;
    position: relative;
    margin-bottom: 70px;
    position: relative;
}

.result > img {
    width: 58px;
    z-index: 1;
}

.result > p {
    z-index: 1;
}

.result-background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;

    background: -moz-linear-gradient(45deg, transparent 15px, var(--color5) 15px), -moz-linear-gradient(135deg, transparent 15px, var(--color5) 15px), -moz-linear-gradient(225deg, transparent 15px, var(--color5) 15px), -moz-linear-gradient(315deg, transparent 15px, var(--color5) 15px);
    background: -o-linear-gradient(45deg, transparent 15px, var(--color5) 15px), -o-linear-gradient(135deg, transparent 15px, var(--color5) 15px), -o-linear-gradient(225deg, transparent 15px, var(--color5) 15px), -o-linear-gradient(315deg, transparent 15px, var(--color5) 15px);
    background: -webkit-linear-gradient(45deg, transparent 15px, var(--color5) 15px), -webkit-linear-gradient(135deg, transparent 15px, var(--color5) 15px), -webkit-linear-gradient(225deg, transparent 15px, var(--color5) 15px), -webkit-linear-gradient(315deg, transparent 15px, var(--color5) 15px);

    background-position: bottom left, bottom right, top right, top left, center center;
    -moz-background-size: 50% 50%;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.to-covert-symbol-name,
.converted-symbol-name {
    font-size: 14px;
    color: var(--color1);
}

.to-convert-value,
.converted-value {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: var(--color4);
    position: relative;
}

.to-convert-value::after,
.converted-value::after {
    content: '';
    width: var(--js-width1);
    height: 6px;
    border-radius: 8px;
    background: var(--color4);
    position: absolute;
    bottom: -6px;
    left: -3px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
    transition: all ease-in-out 0.8s;
}

.converted-value::after {
    width: var(--js-width2);
}

#arrow {
    margin: 13px 0;
}

.dollarLessThan5 {
    z-index: 1;
    margin-top: -40px;
    margin-bottom: 60px;
    background: var(--color2);
    color: var(--color5);
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.517);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.dollarLessThan5 > img {
    width: 130px;
    display: block;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
}

.links {
    background-color: var(--color1);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
}
.links-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.links-list-item a i {
    font-size: 30px;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--color5);
}

.links-list-item a i:hover {
    transform: translateY(-3px) scale(1.2);
}

#api-link {
    padding-left: 5px;
    z-index: 1;
}

#api-link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background: var(--color4);
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background {
    background: var(--color5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 100%;
    z-index: -1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 1.2s ease-in-out 0.1s;
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    5% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    10% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    15% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    20% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    25% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    30% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    35% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    40% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    45% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    50% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media screen and (min-width: 390px) {
    .convert-button::before {
        content: '';
        position: absolute;
        top: -295;
        left: -62px;
        width: 8px;
        height: 430%;
        background: var(--color7);
        border-radius: 4px;
        box-shadow: 0 0 8px #8fa8005a;
        animation: content-before-animation ease-in-out 8.5s infinite;
    }

    .result::before {
        content: '';
        width: 8px;
        height: 55%;
        position: absolute;
        top: 170px;
        right: -30px;
        background: var(--color6);
        border-radius: 4px;
        box-shadow: 0 0 8px #6600a85a;
        animation: result-before-animation ease-in-out 8.5s infinite;
    }

    @keyframes result-before-animation {
        0% {
            top: 170px;
        }

        50% {
            top: -390px;
        }

        100% {
            top: 170px;
        }
    }

    @keyframes content-before-animation {
        0% {
            top: -295px;
        }

        50% {
            top: 266px;
        }

        100% {
            top: -295px;
        }
    }

    .result {
        width: 300px;
    }
}

@media screen and (min-width: 900px) {
    body {
        background: var(--color2);
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background: var(--color3);
        outline: 2px solid var(--color4);
        border: 10px solid transparent;
        border-radius: 4px;
        width: 1100px;
        position: relative;
        z-index: 1;
    }

    .background {
        background: var(--color5);
        width: 101.8%;
        height: 119.6%;
        position: absolute;
        left: -0.85%;
        top: -80px;
        border-radius: 100% 4px 4px 4px;
        box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.15);
    }

    .title-background {
        border-radius: 10px;
    }

    main {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1080px;
        margin: auto;
        min-height: unset;
    }

    .content {
        width: 400px;
    }

    .convert-button::before {
        animation-duration: 4.5s;
    }

    .result::before {
        animation-duration: 4.5s;
    }

    .result {
        margin: 30px;
    }

    .links {
        bottom: 0;
    }

    .convert-button > span::after {
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
    }

    .convert-button:hover span {
        padding-right: 15px;
    }

    .convert-button:hover span::after {
        opacity: 1;
        right: 0;
    }

    .dollarLessThan5 {
        color: var(--color2);
        background: var(--color5);
        position: fixed;
        bottom: -50px;
        right: 10px;
    }

    .links {
        bottom: 0;
    }

    @keyframes result-before-animation {
        0% {
            top: 170px;
        }

        50% {
            top: -10px;
        }

        100% {
            top: 170px;
        }
    }

    @keyframes content-before-animation {
        0% {
            top: -295px;
        }

        50% {
            top: -130px;
        }

        100% {
            top: -295px;
        }
    }
}
