* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color1: #3c3744;
    --color2: #3b3c47;
    --color3: #4d5061;
    --color4: #171219;
    --color5: #c1c1c1;
    --color6: #6600a8;
    --color7: #8fa800;
}

body {
    background: var(--color5);
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    position: relative;
}

.title-background {
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%;
}

.main-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(-45deg, var(--color6), var(--color7));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.title-background > img {
    margin-left: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
}

label {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 23px;
    margin-bottom: 6px;
}

label > span {
    font-weight: 700;
}

select,
#user-value {
    border: 2px solid var(--color2);
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: 48px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    font-size: 16px;
    background: var(--color3);
    color: whitesmoke;
}

/* hide input arrows Chrome, Safari, Edge, Opera */
#user-value::-webkit-outer-spin-button,
#user-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* hide input arrows Firefox */
#user-value[type='number'] {
    -moz-appearance: textfield;
}

.convert-button {
    margin: 24px auto 50px auto;
    width: 80%;
    max-width: 250px;
    height: 48px;
    background: transparent;
    cursor: pointer;
    border: 2px solid var(--color3);
    background: var(--color4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.convert-button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.convert-button > span::after {
    content: '»';
    padding-left: 8px;
    transition: 0.5s;
}

.convert-button:active {
    opacity: 0.9;
    transition: 0.1s ease-in-out;
    transform: translateY(1px);
}

.result {
    border: 1px solid var(--color1);
    width: 70%;
    padding: 10px 0;
    position: relative;
    margin-bottom: 70px;
}

.result > img {
    width: 58px;
}

.to-covert-symbol-name,
.converted-symbol-name {
    font-size: 14px;
    margin: -3px 0;
    color: var(--color1);
}

.to-convert-value,
.converted-value {
    font-size: 20px;
    margin: 6px 0;
    color: var(--color4);
}

#arrow {
    margin: 13px 0;
}

.social-links {
    background-color: var(--color1);
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
}
.social-links-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.social-links-list-item a i {
    font-size: 30px;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--color5);
}

.social-links-list-item a i:hover {
    transform: translateY(-3px) scale(1.2);
}

@media (min-width: 470px) {
    .convert-button::before {
        content: '';
        position: absolute;
        top: -275px;
        left: -102px;
        width: 8px;
        height: 400%;
        background: var(--color7);
        border-radius: 4px;
    }

    .result::before {
        content: '';
        width: 8px;
        height: 55%;
        position: absolute;
        top: 154px;
        right: -30px;
        background: var(--color6);
        border-radius: 4px;
    }

    .result {
        width: 300px;
    }
}

@media (min-width: 880px) {
    body {
        background: var(--color1);
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background: var(--color5);
        outline: 2px solid var(--color4);
        border: 10px solid transparent;
        border-radius: 4px;
        width: 1080px;
    }

    .title-background {
        border-radius: 10px;
    }

    main {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1080px;
        margin: auto;
    }

    .content {
        width: 400px;
    }

    .result {
        margin: 30px;
    }

    .social-links {
        bottom: 0;
    }

    .convert-button > span::after {
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
    }

    .convert-button:hover span {
        padding-right: 15px;
    }

    .convert-button:hover span::after {
        opacity: 1;
        right: 0;
    }
}
